body {
  height: 5000px;
}
.up {
  position: fixed;
  background-color: #ff5722;
  padding: 5px;
  border-radius: 4px;
  right: -30px;
  bottom: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  font-family: Arial Tahoma, sans-serif;
  transition: 0.2s;
}
.up.show{
  right: 10px;
}